@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

* {
	scrollbar-width: thin;
	scrollbar-color: red black;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Back Button*/

.top-left-button {
  position: fixed;
  top: 0;
  left: 0;
  /* Optional: Add padding, background, etc. for styling */
  padding: 10px 15px;
  background-color: #ff0022;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000; /* Ensures the button is above other content */
}
body {
	background-color: black;
	color: white;
	width: 100%;
	height: 100svh;
	min-height: 100svh;
	margin: 0;
	scroll-behavior: smooth;
	font-family: "Libre Franklin", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.container {
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
}

.movie-cover {
	position: relative;
	flex-shrink: 0;
	scroll-snap-align: center;
	padding: 1rem 0;
	user-select: none;

	&:hover .movie-info {
		opacity: 1;
		visibility: visible;
	}
}

.movie-info {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 2.5rem 1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.title {
	color: white;
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0.75rem 0;
}

.description {
	font-size: 0.75rem;
	line-height: 1rem;
	color: #a3a3a3;
}

.year {
	color: red;
	font-size: 0.875rem;
	font-weight: 500;
}

.cover-flow {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

.cover-img {
	object-fit: cover;
	height: 24rem;
	width: 16rem;
	transition: transform 200ms ease, box-shadow 0.5s ease;
	transform-style: preserve-3d;
	perspective: 1000px;

	&:hover {
		transform: translateY(-1rem);
		mask-image: linear-gradient(black 40%, transparent);
		cursor: pointer;
	}
}
